@font-face {
    font-family: HeyComic;
    src: url(Hey\ Comic.otf);
}

body{
    background-color:#131516;
    color: white;
    font-family: "HeyComic";
}

.container{
    text-align: center;
    margin-bottom: 20px;
}
.social-media{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.pfp{
    border-radius: 50%;
    transition: transform 0.5s ease;
    width: 5%;
    margin: 0;
    padding: 0;

}


.pfp:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

i{
    margin:10px;
    transition: transform 0.1s ease;
    
}

i:hover{
    cursor: pointer;
    color: rgb(160, 172, 148);
    transform: scale(1.15);
    
}

a{
    color:white;
    background:none;
    border: none;
    width: 100px;
    font-size: 45px;
    
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #040104;
    padding: 10px;
    display: flex;
    justify-content:space-evenly;
    z-index: 1000;
    align-items: center;
}

body{
    margin-top: 115px;
}
